<div class="bmi-main">
  <div class="bmi-message">
    <h2>BMI　計算機</h2>
    <p>
      適正体重を計算します。
    </p>
  </div>
  <ul>
    <%= form_tag("/bmi/new") do %>
    <li>
    <label for="name">身長：</label>
    <input name="sintyo" value = "<%= @sintyo %>">cm
    </li>
    <li>
    <label for="name">体重：</label>
    <input name="taiju" value = "<%= @taiju %>">kg
    </li>
    <li class="sousin">
      <input type="submit" value="計算">
    </li>
    <% end %>
    <li>
      BMI：<%= @bmi %>
    </li>
    <li>
      適正体重：<%= @risou %>
    </li>
    <li>
      <%= @comment %>
    </li>
    <li>
      <%= if @mitinori
        if @mitinori <= 0
          "適正体重まで" + @mitinori.to_s + "kg"
        else
          "適正より" + @mitinori.to_s + "kg痩せています。"
        end
      end %>
    </li>
    <li>
      <p>結果をツイートする</p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
       class="twitter-share-button" data-url="https://keisanapp0429.herokuapp.com/bmi"
       data-text="あなたは<%= if @comment
       @comment
    end%>。<%= if@mitinori
    if @mitinori <= 0
         "適正体重まで、あと" + @mitinori.to_s + "kgです。"
       else
         @mitinori.to_s + "kg痩せています。"
       end
    end%>"
       data-show-count="false">Tweet</a>
       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
       </script>
    </li>
  </ul>
</div>
