<div class="taisha-main">
  <div class="taisha-message">
    <h2>基礎代謝　計算機</h2>
    <p>
      安静時の一日の消費カロリーを計算します。
    </p>
  </div>
  <ul>
    <%= form_tag("/taisha/new") do %>
    <li>
    <label for="name">年齢：</label>
    <input name="old" value = "<%= @old %>" class="old">歳
    </li>
    <li>
    <label for="name">身長：</label>
    <input name="sintyo" value = "<%= @sintyo %>"  class = "box">cm
    </li>
    <li>
    <label for="name">体重：</label>
    <input name="taiju" value = "<%= @taiju %>"  class = "box">kg
    </li>
    <li class = "bar">
      <input type="radio" value="male" name="gender" >
      <label>
        男性
      </label>
      <input type="radio" value="female" name="gender" >
      <label>
        女性
      </label>
    </li>
    <li class="sousin">
      <input type="submit" value="計算">
    </li>
    <% end %>
    <li>
      基礎代謝：<%= @taisha %>
    </li>
    <li>
      <%= @comment %>
    </li>
  </ul>
</div>
