<!DOCTYPE html>
<html>
  <head>
    <title>KeisanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "header-logo">
        <%= link_to("KeisanApp","/") %>
      </div>
      <ul class = "header-menus">
        <li>
          <%= link_to("BMI","/bmi") %>
        </li>
        <li>
          <%= link_to("カルボーネン","/karb") %>
        </li>
        <li>
          <%= link_to("基礎代謝","/taisha") %>
        </li>
        <li>
          <%= link_to("about","/about") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
