<!DOCTYPE html>
<html>
  <head>
    <title>KeisanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "header-logo">
        <%= link_to("KeisanApp","/") %>
      </div>
      <ul class = "header-menus">
        <li>
          <%= link_to("BMI","/bmi") %>
        </li>
        <li>
          <%= link_to("カルボーネン","/karb") %>
        </li>
        <li>
          <%= link_to("基礎代謝","/taisha") %>
        </li>
        <li>
          <%= link_to("about","/about") %>
        </li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <div class="fotter">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button" data-show-count="false"  data-url="https://keisanapp0429.herokuapp.com" data-text="ヘルスアプリ[KeisanApp] #KeisanApp">
        Tweet
        </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
      </script>
    </div>
  </footer>
  </body>
</html>
